* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  background: none;
  border: none;
  text-decoration: none;
  font-weight: 400;
}

:root {
  font-size: 16px;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

button,
a {
  display: inline-block;
  cursor: pointer;
}

span {
  display: inline-block;
}

strong {
  font-weight: bold;
}
